<!DOCTYPE html>
<head>
  <title>Accountant question</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='accountant.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='accountant.png') }}" class="icon" />
  <h3>Enter accounting question</h3>
  <form action="/acc" method="post">
    <textarea name="question" required></textarea>
    <input type="submit" value="Answer" />
  </form>
  {% if result %}
  <div class="result">{{ result|safe }}</div>
  {% endif %}
</body>
